* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
  overflow-x: auto;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -100;
  content: url(../img/lang/flags/es.png) url(../img/lang/flags/en.png) url(../img/lang/flags/pt.png);
}

main {
  width: 100%;
  flex: 1 0 auto;
  background-color: #f5f5f5;
  transition: margin-left 0.25s;
}

section {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3 {
  font-size: .95rem;
  margin-bottom: 0;
  font-family: "Open Sans";
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  text-align: left;
  font-size: .85rem;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  outline: none;
}

@media (min-width: 300px) and (max-width: 400px) {
  body {
    font-size: 15px;
  }
}

