header {
    width: 100%;
    background-color: #2c9ae2;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    transition: margin-left .25s;
}

.previous_container_nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.layout_previous_container_nav {
    width: 90%;
    display: flex;
}

.layout_container_button_menu {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#button_toggle_menu {
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.25s;
}

.container_logo {
    width: 80%;
    display: flex;
    align-items: center;
}

#layout_container_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5.3rem;
    align-items: center;
}

#layout_logo_audiofile {
    flex: 1;
    color: #fff;
    font-size: 1.6rem;
}

#layout_logo_txt {
    flex: 1;
    color: #fff;
    font-size: 1.5rem;
    font-family: "Open Sans";
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_nav {
    height: 100vh;
    width: 0%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    transition: 0.25s;
    display: flex;
    padding-top: 6.5rem;
}

.container_nav li {
    width: 85%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    padding-top: 1em;
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.container_nav li a,
.container_nav li {
    font-size: 1.1rem;
    color: #2c9ae2;
    text-decoration: none;
}

.container_nav li i {
    font-size: 1.1rem;
    color: #2c9ae2;
    margin-left: 1rem;
    transition: 0.25s;
}

.nav_container_languages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_container_languages_drop_down {
    width: 100%;
    display: flex;
}


.container_languages_list {
    height: 0;
    width: 98%;
    display: flex;
    transition: height 0.25s;
    overflow: hidden;
}

.lang_active{
   height: 7.5rem;
}

.container_languages_list_layout{
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
}


.languages_list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.languages_list a {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.img_lang_container,
.txt_lang_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_lang_container p{
    font-size: .9rem;
    color: #303030;
}

.img_lang {
    height: .9rem;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.3333333333em;
    line-height: 1rem;
    margin-right: .75rem;
}


#img_lang_es {
    background-image: url(../../img/lang/flags/es.png);
}

#img_lang_en {
    background-image: url(../../img/lang/flags/en.png);
}

#img_lang_pt {
    background-image: url(../../img/lang/flags/pt.png);
}


.container_nav_active {
    width: 60%;
}

#button_close_menu {
    display: block;
    position: absolute;
    top: 1.65rem;
    right: 1.65rem;
    color: #2c9ae2;
    font-size: 1.75rem;
    cursor: pointer;
    transition: 0.25s;
}

.layout_container_nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.layout_container_nav li a {
    display: flex;
    align-items: center;
}

.background_effect_menu {
    display: none;
    position: fixed;
    opacity: 0;
    transition: 0.25s;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    z-index: 100;
    overflow: hidden;
}

.background_menu_active {
    display: block;
    opacity: 0.9;
}

@media (min-width: 220px) and (max-width: 300px) {
    .container_nav_active {
        width: 75%;
    }
}

@media (min-width: 300px) and (max-width: 365px) {
    .container_nav_active {
        width: 65%;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
}

@media (min-width: 400px) and (max-width: 450px) {
    .container_nav_active {
        width: 55%;
    }
}

@media (min-width: 450px) and (max-width: 500px) {
    .container_nav_active {
        width: 50%;
    }

}

@media (min-width: 500px) and (max-width: 650px) {
    .container_nav_active {
        width: 45%;
    }
}

@media (min-width: 650px) and (max-width: 720px) {
    .container_nav_active {
        width: 40%;
    }

}

@media (min-width: 720px) and (max-width: 800px) {
    .container_nav_active {
        width: 35%;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .container_nav_active {
        width: 30%;
    }
}

@media (min-width: 900px) {
    .container_nav_active {
        width: 25%;
    }
}

@media (min-width: 1150px) and (max-width: 1200px) {
    .active-content-transition {
        margin-left: 20%;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .active-content-transition {
        margin-left: 20%;
    }

}

@media (min-width: 1150px) and (max-width: 1300px) {
    .layout_previous_container_nav {
        width: 80%;
    }
    .container_nav_active {
        width: 20%;
    }
}

@media (min-width: 1300px) and (max-width: 1500px) {
    .layout_previous_container_nav {
        width: 80%;
    }

    .container_nav_active {
        width: 20%;
    }

    .active-content-transition {
        margin-left: 20%;
    }
}

@media (min-width: 1500px) and (max-width: 1600px) {
    .container_nav_active {
        width: 15%;
    }

    .active-content-transition {
        margin-left: 15%;
    }

    .layout_previous_container_nav {
        width: 80%;
    }
}

@media (min-width: 1600px) and (max-width: 1700px) {
    .container_nav_active {
        width: 13.5%;
    }

    .active-content-transition {
        margin-left: 13.5%;
    }

    .layout_previous_container_nav {
        width: 80%;
    }
}

@media (min-width: 1700px) and (max-width: 1800px) {
    .container_nav_active {
        width: 13%;
    }

    .active-content-transition {
        margin-left: 13%;
    }

    .layout_previous_container_nav {
        width: 80%;
    }
}

@media (min-width: 1800px) and (max-width: 1900px) {
    .container_nav_active {
        width: 12.5%;
    }

    .active-content-transition {
        margin-left: 12.5%;
    }

    .layout_previous_container_nav {
        width: 80%;
    }
}

@media (min-width: 1900px) and (max-width: 2000px) {
    .container_nav_active {
        width: 12%;
    }

    .active-content-transition {
        margin-left: 12%;
    }

    .layout_previous_container_nav {
        width: 80%;
    }
}


@media (min-width: 2000px) and (max-width: 2100px) {
    .container_nav_active {
        width: 10%;
    }

    .layout_previous_container_nav {
        width: 60%;
    }
}

@media (min-width: 2100px) and (max-width: 2200px) {
    .container_nav_active {
        width: 10.5%;
    }

    .layout_previous_container_nav {
        width: 60%;
    }
}

@media (min-width: 2200px) and (max-width: 2300px) {
    .container_nav_active {
        width: 11%;
    }

    .layout_previous_container_nav {
        width: 60%;
    }
}

@media (min-width: 2300px) and (max-width: 2400px) {
    .container_nav_active {
        width: 11.5%;
    }

    .layout_previous_container_nav {
        width: 60%;
    }
}

@media (min-width: 2400px) and (max-width: 2500px) {
    .container_nav_active {
        width: 12%;
    }

    .layout_previous_container_nav {
        width: 60%;
    }
}


@media (min-width: 2500px) and (max-width: 2600px) {
    .container_nav_active {
        width: 12.5%;
    }

    .layout_previous_container_nav {
        width: 60%;
    }
}


